<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <chart>
        <backgroundColor1>#FFFFFF</backgroundColor1>
        <backgroundColor2>#FFFFFF</backgroundColor2>
        <backgroundFadeDir>Diagonal</backgroundFadeDir>
        <chartSummaries>
            <axisBinding>y</axisBinding>
            <column>RowCount</column>
        </chartSummaries>
        <chartType>HorizontalBar</chartType>
        <enableHoverLabels>false</enableHoverLabels>
        <expandOthers>true</expandOthers>
        <groupingColumn>Lead.ActionCadenceTracker$State</groupingColumn>
        <location>CHART_BOTTOM</location>
        <showAxisLabels>true</showAxisLabels>
        <showPercentage>false</showPercentage>
        <showTotal>false</showTotal>
        <showValues>false</showValues>
        <size>Medium</size>
        <summaryAxisRange>Auto</summaryAxisRange>
        <textColor>#000000</textColor>
        <textSize>12</textSize>
        <titleColor>#000000</titleColor>
        <titleSize>18</titleSize>
    </chart>
    <columns>
        <field>Lead$FirstName</field>
    </columns>
    <columns>
        <field>Lead$LastName</field>
    </columns>
    <columns>
        <field>Lead$Email</field>
    </columns>
    <columns>
        <field>Lead$ActionCadenceState</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$Owner</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$LastCompletedStep.LastModifiedDate</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$LastCompletedStep.StepTitle</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$CompletionReason</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$InternalProcessingState</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$CompletionDisposition</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$CreatedDate</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$LastModifiedDate</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$ScheduledResumeDateTime</field>
    </columns>
    <columns>
        <field>Lead$EmailBouncedReason</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Lead.ActionCadenceTracker$ActionCadence</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Spring 2025 Skin Renewal Event v2</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead.ActionCadenceTracker$CompletionReason</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>notEqual</operator>
            <value>MR</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead.ActionCadenceTracker$State</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>false</isUnlocked>
            <operator>equals</operator>
            <value>C</value>
        </criteriaItems>
        <language>en_US</language>
    </filter>
    <format>Summary</format>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>Lead.ActionCadenceTracker$State</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <groupingsDown>
        <field>Lead$EmailBouncedDate</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <name>Spring 2025 Skin Renew - Completed</name>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Leads_and_Sales_Cadence_Trackers__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <timeFrameFilter>
        <dateColumn>Lead$ConvertedDate</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
