<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>Lead$FirstName</field>
    </columns>
    <columns>
        <field>Lead$LastName</field>
    </columns>
    <columns>
        <field>Lead$Email</field>
    </columns>
    <columns>
        <field>Lead.ActionCadenceTracker$Owner</field>
    </columns>
    <columns>
        <field>Lead$CountryCode</field>
    </columns>
    <columns>
        <field>Lead$StateCode</field>
    </columns>
    <columns>
        <field>Lead$City</field>
    </columns>
    <columns>
        <field>Lead$PostalCode</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Lead$FirstName</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>notContain</operator>
            <value>unknown</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead$FirstName</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>notEqual</operator>
            <value></value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead$IsConverted</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>0</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead$Owner</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Peter Kovachev</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead$Status</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>notEqual</operator>
            <value>Unqualified</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead$LastName</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>startsWith</operator>
            <value>a,b,c,d,e,f,g,h,i</value>
        </criteriaItems>
        <criteriaItems>
            <column>Lead$HasOptedOutOfEmail</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>0</value>
        </criteriaItems>
        <language>en_US</language>
    </filter>
    <format>Tabular</format>
    <name>Spring 2025 Skin Renewal Event Cadence</name>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Leads_and_Sales_Cadence_Trackers__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <sortColumn>Lead$Email</sortColumn>
    <sortOrder>Asc</sortOrder>
    <timeFrameFilter>
        <dateColumn>Lead$ConvertedDate</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
